.profile-form {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 20px;
  background-color: #f0f0f0; /* Light gray background */
  color: #333333; /* Dark text color */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #6a0dad; /* Purple heading color */
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555555; /* Dark label color */
}

input,
select {
  width: 95%;
  padding: 10px;
  border: 1px solid #cccccc; /* Light gray border */
  border-radius: 4px;
  transition: border-color 0.3s ease; /* Smooth transition for border color */
}

input:focus,
select:focus {
  outline: none;
  border-color: #6a0dad; /* Purple border color on focus */
}

#occupation,
#contact,
#email,
#age,
#dob {
  width: calc(90% - 5px);
}

#gender {
  width: calc(97% - 5px);
}

button {
  width: 40%;
  padding: 12px 0;
  background-color: #6a0dad; /* Purple button background color */
  color: #ffffff; /* White button text color */
  border: 1px solid #6a0dad; /* Purple border */
  border-radius: 4px;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

button:hover {
  background-color: #8d4fb2; /* Darker purple on hover */
  border-color: #8d4fb2; /* Darker purple border on hover */
  color: #ffffff; /* White text on hover */
  cursor: pointer;
}
