$primary-color: #008080;
$secondary-color: #80ced6;
$accent-color: #ffffff;
$hover-color: #006666;
$shadow-color: rgba(0, 0, 0, 0.2);
$hover-shadow-color: rgba(0, 0, 0, 0.3);

.navbar {
  background: linear-gradient(135deg, $primary-color, $secondary-color);
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: $accent-color;
}

.toggle-button-row {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: $accent-color;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
  box-shadow: 0 2px 4px $shadow-color;
  transition: background 0.3s, box-shadow 0.3s;

  &:hover {
    background: $hover-color;
    box-shadow: 0 2px 6px $hover-shadow-color;
  }
}

.toggle-button-row mat-icon {
  font-size: 24px;
  color: $primary-color;
}

.slide-out-panel {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background: linear-gradient(135deg, $primary-color, $secondary-color);
  transition: transform 0.3s ease-out;
  z-index: 1000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 0 10px $shadow-color;
}

.slide-out-panel.slide-out {
  transform: translateX(-100%);
}

.slide-out-content {
  margin-top: 80px;
  padding: 20px;
}

.edit-col {
  color: $primary-color;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  background-color: $accent-color;
  margin-bottom: 10px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: $hover-color;
    color: $accent-color;
    box-shadow: 0 2px 4px $shadow-color;
  }
}

.nav {
  text-align: center;
  justify-content: center;
  background-color: $secondary-color;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
