<div class="navbar">
    <h2>
        Personal Budget Manager
    </h2>
</div>

<div>
    <div class="toggle-button-row" (click)="toggleSlideOut()">
        <mat-icon>menu</mat-icon>
    </div>
</div>

<div class="slide-out-panel" [class.slide-out]="isSlideOut">
    <div class="slide-out-content">
        <p class="edit-col" (click)="onDash()">
            <mat-icon>dashboard</mat-icon> Dashboard
        </p>
        <p class="edit-col" (click)="onProfile()">
            <mat-icon>person</mat-icon> Profile
        </p>
        <p class="edit-col" (click)="onHistroy()">
            <mat-icon>history</mat-icon> Previous History
        </p>
        <p class="edit-col" (click)="onLogout()">
            <mat-icon>exit_to_app</mat-icon> Logout
        </p>
    </div>
</div>
